ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
p,
blockquote,
dd {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
body {
  margin: 0;
  background: linear-gradient(72.01deg, #42234a 0%, #9c16c0 99.69%);
}
.container {
  box-sizing: border-box;
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* 
Header
*/

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: initial;
  color: #f3cbfe;
  font-family: "Sarala", sans-serif;
}
#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}
#menu a {
  display: block;
  padding: 0.5rem;
}
#btn-mobile {
  display: none;
}
/* Fim Header */
.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #f3cbfe;
  padding: 0 20px;
}
.conteudo-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.conteudo-principal-escrito h1 {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 4rem;
  color: #f9e9fe;
}
.conteudo-principal-escrito h2 {
  font-family: "Sarala", sans-serif;
  font-size: 1.5rem;
  color: #f3cbfe;
  font-weight: 400;
}
.conteudo-principal-escrito-btn {
  background: #f3cbfe;
  color: #44234d;
  font-family: "Sarala", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  width: 180px;
  height: 60px;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
}
.conteudo-principal-escrito-btn:hover {
  background: #e597fb;
  cursor: pointer;
}
a:hover {
  color: #e597fb;
}
.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}
.conteudo-secundario-titulo {
  border-top: 0.4px solid #f3cbfe;
  padding-top: 48px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: #f9e9fe;
  margin-bottom: 1rem;
}
.lista-item {
  font-family: "Sarala", sans-serif;
  font-size: 1.125rem;
  color: #f3cbfe;
  font-weight: 400;
  margin-top: 2.375rem;
}
.footer {
  padding: 32px;
  border-top: 0.4px solid #f3cbfe;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-imagem {
  max-height: 48px;
}
.footer-texto {
  margin-top: 1rem;
  font-family: "Sarala", sans-serif;
  font-size: 0.9rem;
  color: #f3cbfe;
}
.footer-texto a {
  color: #f3cbfe;
}

@media (max-width: 900px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 54px;
    right: 0px;
    background: rgba(149, 23, 182, 0.9);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: #f3cbfe;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .conteudo-principal-escrito-btn {
    width: 120px;
    height: 42px;
    font-size: 1.2rem;
  }
  .conteudo-principal {
    flex-direction: column-reverse;
  }
  .conteudo-principal-escrito {
    gap: 1rem;
  }
  .conteudo-principal-escrito h1 {
    font-size: 3rem;
  }
  .conteudo-secundario-titulo {
    padding-top: 20px;
    margin-bottom: 0;
  }
  .lista-item {
    padding-top: 0;
  }
  .conteudo-secundario {
    gap: 0;
  }
  .conteudo-principal-imagem img {
    max-width: 300px;
  }
}
@media (max-width: 800px) {
  .conteudo-principal-escrito h1 {
    font-size: 2rem;
  }
}
